/* @import url('https://fonts.googleapis.com/css2? family= Averia+Serif+Libre:ital@1 & family= Lato:wght@100 & display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Averia Serif Libre',cursive,'Courier New', Courier, monospace;
  font-size: xx-large;
  margin-top: 20px;
  /* position: relative; */
  /* top: 20px;
  left: 460px; */
}

img{
  width: 80%;
  height: 40vh;
  margin: 30px auto 10px;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

h2{
  width: 80%;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 0, 0.453);
  color: black;
  margin: 10px auto;
}

h3{
  margin: 20px;
}

.logo{
  width: 90px;
  height: 90px;
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 150px;
}

.menuNav {
  height: 60px;
  display: flex;  
  flex-direction: row;
  justify-content:center;
  align-items: center;
  /* position: absolute;
  top: 314px;
  left: 500px; */
}

.menuNav a{
  text-decoration: none;
  font-size: large;
  margin: 20px;
  border: 1px solid black;
  color: white;
  background-color: rgba(28, 110, 177, 0.776);
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  padding: 10px;
}  

.menuNav a:hover{
  background-color: rgb(24, 136, 10);
  background: rgb(24, 136, 10);
}
  
#home{
  background: rgb(24, 136, 10);
}
  
#about{
  background: rgb(24, 136, 10);
}
  
#contact{
  background: rgb(24, 136, 10);
}

#rules{
  background: rgb(24, 136, 10);
}

#game{
  background: rgb(24, 136, 10);
}
 
main{
  width: 80%;
  margin: auto;
}
.fechas{
  margin-left:20px;
}

ul li{
  list-style-type:none;
}

.ol-primer li {
  margin-left: 30px;
  font-weight: bold;
}

ol .ol-style li{
  text-decoration: none;
}

.fechas p{
  width: 100%;
  margin-bottom: 15px;
}

.tit_table{
  text-align: center;
}

table{
  width: 50%;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 30px;
}

table thead tr th{
  background-color: rgba(28, 110, 177, 0.776);
  color: white;
}

table tbody tr:nth-of-type(even){
background-color: gray;
}

table tbody tr, tbody td{
  padding: 12px ;
}

.fecha-fondo{
 background-color:rgba(255, 255, 0, 0.453);
}

main p{
 margin-left: 40px;
}

.tel-mail{
  display: flex;
  justify-content: space-between;
}





