@import url('https://fonts.googleapis.com/css2? family= Averia+Serif+Libre:ital@1 & family= Lato:wght@100 & display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  position: relative;
  top: 85px;
  left: 200px;
  font-family: 'Averia Serif Libre',cursive,'Courier New', Courier, monospace;
}

img{
  width: 80%;
  height: 40vh;
  margin: 30px auto 10px;
  display: block;
  text-align: center;
}

h2{
  width: 80%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 5px auto;
  
}

.logo{
  width: 70px;
  height: 70px;
  position: absolute;
  border: 1px solid black;
  top: 301px;
  right: 160px;
}

.menuNav{
  width: 200px;
  display: block;
  margin-left: 100px;
}

.menuNav a{
  display: block;
  margin: 30px 50px;
  color: blue;
}

#home{
  text-decoration: none;
  color: black;
}

#about{
  text-decoration: none;
  color: black;
}

#contact{
  text-decoration: none;
  color: black;
}

.fechas{
  width: 850px;
  display: block;
  position: absolute;
  margin: 25px auto;
  top: 350px;
  left: 300px;
}

.fechas p{
  margin: 20px;
}

.fechas a{
  text-decoration: none;
  display: inline;
  margin: 50px;
}
